@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

body{
    background-color:powderblue;
}

.bottoneImmagineAcqua {
      background-image: url('link_all_immagine.jpg'); /* Inserisci il link all'immagine qui */
      background-size: cover;
      width: 200px; /* Imposta la larghezza desiderata */
      height: 100px; /* Imposta l'altezza desiderata */
      border: none;
      cursor: pointer;
    }

.divcl {
    border: 5px outset green;
    background-color: rgb(237, 234, 226);    
    text-align: center;
  }

.tabella, th, td {
    border: 1px solid black;
    margin-left: auto; 
    margin-right: auto;
  }

.mappa {
    height: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, height 9999s;
  }
  
  .pmappa {
    overflow: visible;
    max-height: 200px;
    transition: max-height 0.1s ease-in-out 0.5s;

  }
  
  .pmappa:hover {
    max-height: 1000px;
    transition: max-height 0.1s ease-in-out;
  }
  
  .pmappa:hover .mappa {
    height: 700px;
    opacity: 1;
    transition: 0s height, opacity 1s ease-in-out 0.2s;
  }

  .foto{
    margin-left: auto;

  }
  button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 16px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }

  button:hover{
    padding-right: 24px;
    padding-left:8px;
    background-color:gray;
  }

.BOTTIGLIA{
  margin-right: 100px
}

header {
    background-color: #005aa7;
    color: #ffffff;
    padding: 20px;
}

 nav {
    text-align: center;
    background-color: #333;
    overflow: hidden;
}
      
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
        
nav a:hover {
    background-color: #ddd;
    color: black;
}
    
.immagine-ingrandita {
  width: 225px;
  margin-left: 200px;
  transition: transform 0.3s ease; /* Effetto di transizione */
}
.ingrandita {
  transform: scale(1.2); /* Ingrossa l'immagine al 120% della dimensione originale */
}
